Bu bölümde veri hakkında genel sayısal bilgi almamıza yarayan `min()`, `max()`, `mean()` gibi Numpy'da da gördüğümüze benzer fonksiyonları göreceğiz.

## Temel Bilgiler

Numpy kütüphanesine benzer şekilde temel bilgileri `veri.sum()` gibisinden alabilirsiniz.

In [1]:
import numpy as np
import pandas as pd

A = pd.Series(np.random.randint(10, size=5))
A

0    0
1    1
2    4
3    6
4    2
dtype: int64

In [2]:
A.max()

6

In [3]:
np.mean(A)

2.6

In [4]:
B = pd.Series(np.random.randint(10, size=5))
B

0    9
1    7
2    6
3    8
4    6
dtype: int64

In [5]:
D = pd.DataFrame({"A": A, "B": B})
D

   A  B
0  0  9
1  1  7
2  4  6
3  6  8
4  2  6

DataFrame'ler için `axis` parametresine `1` veya okunabilirlik açısından `columns` vererek işlemi satır bazlı yapabilirsiniz.

In [6]:
np.max(D, axis='columns')

0    9
1    7
2    6
3    8
4    6
dtype: int64

`describe()` metodu bize veri hakkında genel bilgileri topluca ve sütun bazlı verir.

In [7]:
D.describe()

              A        B
count  5.000000  5.00000
mean   2.600000  7.20000
std    2.408319  1.30384
min    0.000000  6.00000
25%    1.000000  6.00000
50%    2.000000  7.00000
75%    4.000000  8.00000
max    6.000000  9.00000

#### DataFrame ve Serie aggregation metodları
| Fonksiyon       | Açıklama                |
|-----------------|-------------------------|
| count()         | Eleman sayısı           |
| first(), last() | İlk ve son eleman       |
| mean()          | Ortalama                |
| median()        | Medyan                  |
| min(), max()    | Minimum ve maximum      |
| std()           | Standart sapma          |
| var()           | Varyans                 |
| mad()           | Ortalama mutlak sapma   |
| prod()          | Tüm elemanların çarpımı |
| sum()           | Tüm elemanların toplamı |