DataFrame nesnesi Numpy Dizileri ile Python sözlük yapısının birleşimidir.

## Veriden Dataframe Üretme

Dataframe'lere, Serie'lerin iki boyutlusu diyebiliriz. Sözlüklerden Serie'ler, Serie'lerden de DataFrame oluşturabiliriz.

In [1]:
import pandas as pd

In [2]:
# Kaynak: https://en.wikipedia.org/wiki/World_War_I_casualties

# sözlükleri oluşturuyoruz
nufusSozluk = { # milyon
    "İngiltere" : 45.4,
    "Fransa" : 39.6,
    "Almanya" : 64.9,
    "Osmanlı" : 21.3
}
olumSozluk = {
    "İngiltere" : 744000,
    "Fransa" : 1150000,
    "Almanya" : 1800000,
    "Osmanlı" : 305085
}

# sözlükleri Serie yapıyoruz
nufus = pd.Series(nufusSozluk)
olum = pd.Series(olumSozluk)

# serieleri dataframe yapıyoruz
ww1Df = pd.DataFrame({
    "Nüfus": nufus,
    "Ölüm" : olum
})

In [3]:
ww1Df

           Nüfus     Ölüm
İngiltere   45.4   744000
Fransa      39.6  1150000
Almanya     64.9  1800000
Osmanlı     21.3   305085

In [4]:
print("Index:", ww1Df.index)
print("Sütunlar:", ww1Df.columns)

Index: Index(['İngiltere', 'Fransa', 'Almanya', 'Osmanlı'], dtype='object')
Sütunlar: Index(['Nüfus', 'Ölüm'], dtype='object')

Büyük DataFrame'lerle ilgili ön bilgi edinmek için `info`, üstten birkaç satırı almak için `head`, alttan birkaç satırı almak için de `tail` fonksiyonu kullanılır. `head` ve `tail` fonksiyonu varsayılan olarak 5 satır gösterir. Parametre olarak sayı vererek gösterilecek satır sayısını ayarlayabilirsiniz.

In [5]:
print("Alttan bilgi:", ww1Df.tail(2))
print("\nBilgi:\n")
print(ww1Df.info())

Alttan bilgi:          Nüfus     Ölüm
Almanya   64.9  1800000
Osmanlı   21.3   305085

Bilgi:

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, İngiltere to Osmanlı
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Nüfus   4 non-null      float64
 1   Ölüm    4 non-null      int64
dtypes: float64(1), int64(1)
memory usage: 96.0+ bytes
None

### DataFrame'den Veri Çekme

Benzer şekilde DataFrame'i sözlük gibi düşünebiliriz. Sütunlara `ww1Df["Nüfus"]` şeklinde ulaşılır. Ama dikkat etmeniz gereken, Numpy'daki iki boyutlu diziler gibi `ww1Df[0]` diyerek ilk satırı alamazsınız. Buna ayrıntılı olarak [Pandas Veri İndeksleme ve Seçme](#) bölümünde değineceğiz.

### DataFrame Nesnesi Oluşturma

DataFrame nesnesi çok çeşitli yöntemlerle üretilebilir.

#### Serie Nesnesinden Üretme

Tek Serie Nesnesinden, tek sütunluk DataFrame oluşturabilirsiniz.

In [6]:
pd.DataFrame(nufus, columns=['Ülke Nüfusu'])

           Ülke Nüfusu
İngiltere         45.4
Fransa            39.6
Almanya           64.9
Osmanlı           21.3

#### Sözlük Listesinden Üretme

Liste içine sözlük koyarsanız Pandas o veriye iki boyutlu gibi davranacaktır. Anahtar değerleri sütun olarak kabul eder. Eğer bazı anahtar değerleri yazmazsanız Pandas o boşlukları NaN (not a number) ile doldurur.

In [7]:
s1 = {"A":32, "B":64}
s2 = {"A":56, "B":10}
s3 = {"A":1}
pd.DataFrame([s1, s2, s3])

    A     B
0  32  64.0
1  56  10.0
2   1   NaN

#### Serie'lerden Oluşan Sözlük ile Üretme

[İlk yaptığımız örnek](#Veriden-Dataframe-Üretme) budur.

#### İki Boyutlu Numpy Dizisinden Üretme

İki boyutlu numpy dizisini verip, satır ve sütun adlarını yazarak DataFrame oluşturabilirsiniz.

In [8]:
import numpy as np

In [9]:
numpy2dDizi = np.random.randint(10, size=(3, 2))
numpy2dDizi

array([[2, 3],
       [8, 7],
       [8, 0]])

In [10]:
pd.DataFrame(numpy2dDizi, columns=['sutun', 'diger_sutun'], index=['a', 'b', 'c'])

   sutun  diger_sutun
a      2            3
b      8            7
c      8            0

#### Numpy Structured Array

[Structured Numpy dizileri](#)ni direkt olarak DataFrame'e çevirebilirsiniz.

In [11]:
yapisalDizi = np.zeros(4, dtype=[('Sutun1', int), ('Sutun2', float)])
yapisalDizi

array([(0, 0.), (0, 0.), (0, 0.), (0, 0.)],
      dtype=[('Sutun1', '<i8'), ('Sutun2', '<f8')])

In [12]:
pd.DataFrame(yapisaDizi)

NameError: name 'yapisaDizi' is not defined