## Serie'lerde Veri Seçme

### Sözlük Olarak Serie'ler

Sözlüklerdeki gibi verileri index'leri ile seçebilirsiniz.

In [1]:
import pandas as pd

In [2]:
veri = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
veri['b']

2

Ayrıca sözlüklerde geçerli olan fonksiyonları da kullanabilirsiniz.

In [3]:
print('c' in veri)
print(veri.keys())
print(*veri.items())

veri["e"] = 5
print("\ne indisi ile:", veri)

True
Index(['a', 'b', 'c', 'd'], dtype='object')
('a', 1) ('b', 2) ('c', 3) ('d', 4)

e indisi ile: a    1
b    2
c    3
d    4
e    5
dtype: int64

### Dizi Olarak Serie'ler

Numpy dizilerindeki gibi bölme, [maskeleme](#), [fancy indexing](#) işlemlerini yapabilirsiniz.

In [4]:
print("Explicit (açık) indexlere göre bölme:", veri["a":"c"])
print("Implicit (örtülü) indexlerine göre bölme:", veri[0:2])
print("Maskeleme:", veri[(veri > 1) & (veri < 4)])
print("Fancy indexing:", veri[['a', 'd']])

Explicit (açık) indexlere göre bölme: a    1
b    2
c    3
dtype: int64
Implicit (örtülü) indexlerine göre bölme: a    1
b    2
dtype: int64
Maskeleme: b    2
c    3
dtype: int64
Fancy indexing: a    1
d    4
dtype: int64

### Index Tanımlayıcılar: loc ve iloc

Bu sıralama ve indexleme yöntemleri aklınızı karıştırabilir. Mesela Serie'nizin index'leri sayı ise (mesela dizinizin 2. elemanına index olarak 1 verdiniz); veri seçme işlemi (`veri[1]` gibi) açık index'ine göre işlem yaparken, bölme işlemi (`veri[2:4]` gibi) örtülü index'e göre işlem yapacaktır.

In [5]:
veri = pd.Series(['a', 'b', 'c', 'd'], index=[1, 3, 5, 7])
veri

1    a
3    b
5    c
7    d
dtype: object

In [6]:
print("Index olarak 3 olanı verir:", veri[3])
print("Sırasını belirten Index olarak:", veri[1:3])

Index olarak 3 olanı verir: b
Sırasını belirten Index olarak: 3    b
5    c
dtype: object

Bu kafa karışıklığını önlemek, hangi index'i kullanmak istediğimizi belirtmek için `loc` ve `iloc` özellikleri kullanılır.

İlk olarak `loc` özelliği her zaman explicit (açık) index'i kullanarak işlem yapar.

In [7]:
print(veri.loc[3], "\n")
print(veri.loc[1:3])

b

1    a
3    b
dtype: object

`iloc` ise (**i**mplicit'den gelmekte) implicit (örtülü) index'ine göre işlem yapar.

In [8]:
print(veri.iloc[3], "\n")
print(veri.iloc[1:3])

d

3    b
5    c
dtype: object

Python'un bir prensibi "Açık, örtük olandan daha iyidir (Explicit is better than implicit)" der. Siz standart `[]` kullanarak hangi index'i kasdettiğinizi bilseniz bile, kodunuzu okuyanlar bilemeyebilir. Temiz kod yazmak ve daha az hatayla karşılaşmak için `loc` ve `iloc`u kullanmaya çalışın.

## Dataframe'de Veri Seçme

Hatırlayın: DataFrame nesnesi iki boyutlu Numpy Dizileri ile Python sözlük yapısının birleşimidir.

### Sözlük Olarak Dataframe

Bir DataFrame tanımlayalım:

In [9]:
ww1Df = pd.DataFrame(
    {
        "nufus": pd.Series(
            {  # milyon
                "İngiltere": 45.4,
                "Fransa": 39.6,
                "Almanya": 64.9,
                "Osmanlı": 21.3,
            }
        ),
        "olum": pd.Series(
            {
                "İngiltere": 744000,
                "Fransa": 1150000,
                "Almanya": 1800000,
                "Osmanlı": 305085,
            }
        ),
    }
)
ww1Df

           nufus     olum
İngiltere   45.4   744000
Fransa      39.6  1150000
Almanya     64.9  1800000
Osmanlı     21.3   305085

Verilere sözlük gibi veya özellik (attribute) olarak erişilebilir ve aynı anlama gelir.

In [10]:
print(ww1Df["nufus"], "\n")
print(ww1Df.olum, "\n")
print(ww1Df.olum.Fransa, "\n")
print(ww1Df.nufus is ww1Df["nufus"], "\n")

İngiltere    45.4
Fransa       39.6
Almanya      64.9
Osmanlı      21.3
Name: nufus, dtype: float64

İngiltere     744000
Fransa       1150000
Almanya      1800000
Osmanlı       305085
Name: olum, dtype: int64

1150000

True

Ancak verilere özellik gibi ulaşmak her zaman doğru yol olmayabilir. Sütun adı yazı olmayabilir veya bir metod ile aynı isimli olabilir. Ayrıca biraz daha yavaştır. Bu yüzden `veri.sutun` yerine `veri["sutun"]` kullanımı daha çok önerilir.

### İki Boyutlu Dizi Olarak Dataframe

Dataframe'lerle iki boyutlu dizilermişcesine işlem yapabilir, `values` özelliği ile verilere iki boyutlu dizi gibi ulaşabiliriz.

In [11]:
ww1Df

           nufus     olum
İngiltere   45.4   744000
Fransa      39.6  1150000
Almanya     64.9  1800000
Osmanlı     21.3   305085

In [12]:
print(ww1Df.values, "\n")
print(ww1Df.values[0,0])

[[4.54000e+01 7.44000e+05]
 [3.96000e+01 1.15000e+06]
 [6.49000e+01 1.80000e+06]
 [2.13000e+01 3.05085e+05]]

45.4

`T` özelliği ile verinin satır ile sütunlarını yer değiştirebiliriz

In [13]:
ww1Df.T

       İngiltere     Fransa    Almanya   Osmanlı
nufus       45.4       39.6       64.9      21.3
olum    744000.0  1150000.0  1800000.0  305085.0

Diziye benzemesinden ötürü DataFrame nesnelerinde `loc` ve `iloc` fonksiyonları da kullanılabilir.

In [14]:
ww1Df.iloc[:2, 1:]

              olum
İngiltere   744000
Fransa     1150000

Bu index tanımlayıcılar (loc ve iloc), diğer index'leme biçimleriyle (fancy indexing, maskeleme vs.) birleştirilerek de kullanılabilir.

In [15]:
ww1Df.olum.mean()

999771.25

In [16]:
ww1Df.loc[ww1Df.olum > 1000000, ['nufus']] # 1m'den fazla ölüsü olanların nüfusları

         nufus
Fransa    39.6
Almanya   64.9

Ve tabiki bu index tanımlayıcılarla [broadcasting kurallarına](#numpy-broadcasting) uyarak DataFrame'de düzenlemeler yapabilirsiniz:

In [17]:
df = ww1Df.copy() # değişikliklerimizi yedek üzerinde yapıcaz
df.iloc[1:3] = 10
df

           nufus    olum
İngiltere   45.4  744000
Fransa      10.0      10
Almanya     10.0      10
Osmanlı     21.3  305085

#### Satır ve Sütun Kullanımı

Seçme ve fancy indexing işlemlerinde sütun, bölme ve maskeleme işleminde satır kullanılır.

In [18]:
print("Seçme işleminde sütun kullanılır:\n", ww1Df["nufus"]                   , sep="", end="\n")
print("\nAma bölme işleminde satır kullanılır:\n", ww1Df["Fransa":"Osmanlı"]  , sep="", end="\n")
print("\nMaskeleme işleminde de satır kullanılır:\n", ww1Df[42 < ww1Df.nufus] , sep="", end="\n")

Seçme işleminde sütun kullanılır:
İngiltere    45.4
Fransa       39.6
Almanya      64.9
Osmanlı      21.3
Name: nufus, dtype: float64

Ama bölme işleminde satır kullanılır:
         nufus     olum
Fransa    39.6  1150000
Almanya   64.9  1800000
Osmanlı   21.3   305085

Maskeleme işleminde de satır kullanılır:
           nufus     olum
İngiltere   45.4   744000
Almanya     64.9  1800000